*{

}

.form-inline{
    display: grid;
    grid-template-columns: repeat(3,1fr 3fr);
    grid-gap: 2px;
    width: 100%;

}

.jumbotron{
    background-image: url(../img/pizza.png);
    text-align: center;

}

.list-group-item{
    font-size: 1em;

}

.text{
    width: 100%;
    height: 23px;
    color: white;
    font-size: 1em;
}

.nav-items{
    color: white;
    display: inline-block;

}

.size-and-crust, .head-toppings{
    background-color: blue;
    color: white;
    padding: 1px;
    font-size: 1.5em;
    font-weight: bold;

}

.buttons{
    color: white;
    font-weight: bolder;
    background-color: blue;
    border-radius: 7%;
    height: 23px;
    width: 120px;

}

.previous, .next {
    font-weight: bolder;
    color: white;
    border: 1px solid black;

}
.card-header, .cheese-head, .sauce-head,  .hmuch-head{
    background-color: lightgray;
    font-size: 1.5em;
    font-weight: bold;
}

.jumbotron>h1{
   background-color: ghostwhite;
   background-blend-mode: lighten ;


}

#opa3{
    background-color: rgba( 255,255,255,0.5);
    width: 100%;
}

.btn-foot{
    background-color: blue;
    width: 100px;
    height: 30px;
    border-radius: 6%;
    text-align: center;
    padding-top: 1px;





}

.card-link{
    color: white;
    font-size: 1em;


}

#head-toppings{
    background-color:lightskyblue ;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5%;

}

.non-meat, .kind-meat{
    background-color: lightgray;
    font-size: 1em;
    text-align: center;
    border-radius: 5%;
}







